body {
  font-family: Arial, sans-serif;
  margin: 10px;
  line-height: 1.4;
  font-size: 14px; /* Reduced font size */
}

h1 {
  font-size: 28px; /* Reduced title size */
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

p.story {
  font-size: 14px; /* Reduced font size */
  margin-bottom: 15px;
  text-align: justify;
}

.visualizations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.viz-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 30px; /* Reduced margin between visualizations */
}

.viz-container {
  width: 46%; /* Adjusted width to fit more compactly */
  margin-bottom: 20px; /* Reduced margin for more compact layout */
}

.world-map-container {
  width: 46%; /* Adjusted for better fit */
}

.line-chart-container {
  width: 46%; /* Adjusted for better fit */
}

/* Smaller screens adjustments */
@media (max-width: 999px) {
  .viz-container {
    width: 100%;
    margin-bottom: 15px;
  }

  .world-map-container,
  .line-chart-container {
    width: 100%;
  }
}

h2 {
  font-size: 20px; /* Reduced size for subheadings */
  color: #34495e;
  text-align: left;
}

#bar-chart,
#australia-map,
#world-map,
#overseas-arrivals-departures {
  width: 100%;
  height: auto;
}
